<h1>Listing city_districts</h1>

<table>
  <tr>
    <th>Name en</th>
    <th>Name ka</th>
    <th>Settlement</th>
    <th>District</th>
    <th>Region</th>
    <th>Lat</th>
    <th>Lon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city_districts.each do |city_district| %>
  <tr>
    <td><%= city_district.name_en %></td>
    <td><%= city_district.name_ka %></td>
    <td><%= city_district.settlement.name_en %></td>
    <td><%= city_district.district.name_en %></td>
    <td><%= city_district.region.name_en %></td>
    <td><%= city_district.lat %></td>
    <td><%= city_district.lon %></td>
    <td><%= link_to 'Show', city_district %></td>
    <td><%= link_to 'Edit', edit_city_district_path(city_district) %></td>
    <td><%= link_to 'Destroy', city_district, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City district', new_city_district_path %>
