<%= form_for(@search, :remote => true) do |f| %>

  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
  <div class="field">
    
    <%= f.text_field :term, :id =>'search_field', :style=>'width: 420px; height: 40px; font-size:0.8em; color:#777', :placeholder => 'Search a location in Georgia' %>
  </div>
  <div class="actions">
    <%= f.submit 'Go', :format => 'js', :remote => true %>
  </div>
  </center>
<% end %>
